.ul{
    margin:20px 0px 0px 0px;
    padding:0;
}

.li{
    color:white;
    text-align: center;
    background-color: black;
    margin-bottom: 10px;
    font-size: 14px;
    padding:7px; 
    cursor: pointer;
}

.li:hover{
    background-color: rgba(14, 13, 13, 0.603);
}

.navlink{
    color:white;
    cursor: pointer;
}

.navlink:hover{
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.active{
    color:rgb(69, 191, 243);
}

.label{
    margin-left: 10px;
    cursor: pointer;
}