.unReadContainer{
    width:100%;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(10, 91, 122);
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    color:white;
}

.readContainer{
    width:100%;
    height: 40px;
    border-radius: 15px;
    background-color:rgb(204, 200, 200);
    box-shadow: rgb(10, 91, 122);
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    color:black;
    cursor: pointer;
}